h1 {
	margin: auto;
	width: 80%;
	border: 3px solid mediumslateblue;
	padding: 10px;
    text-align: center;

	
}

.who-dis {
    margin: auto;
    width: 70%;
    height: 300px;
    position: relative;
    top: 50%;
    transform: 			translateY(50%);



}

.student-name, .fav-head {
    text-align: center;
}

.fav-head {
    margin-top: 100px;
}
.fav-movies {
	
}


 .fav-movie {
     text-align: center;
     padding-top: 50px;
     width:100%; overflow:hidden;


}

.movie {
	list-style-type: none;
	padding: 10px;
	display: inline;
	font-weight: bold;
    border: 3px solid darkgreen;
    position:relative;margin:0px auto;
}

.left-side {
	float: left;
}

.right-side {
	float: right;
}

.left-side, .right-side {
	font-weight: bold;
	font-size: 12px;
}